.header {
  position: relative;
  background: var(--light);
  z-index: 5;

  &__inner {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__burger {
    display: none;
    margin-left: 17px;
    @include burger;
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top,
  &__bottom {
    position: relative;

    &:before {
      position: absolute;
      bottom: 0;
      width: 200%;
      height: 1px;
      left: 50%;
      transform: translate(-50%, -1px);
      content: '';
      background: var(--grey);
    }
  }

  &__info,
  &__menu,
  &__lang-outer,
  &__currency-outer,
  &__city-btn {
    display: flex;
    align-items: center;
  }

  &__city-btn {
    color: var(--dark);
    transition: all .15s linear;

    &:hover {
      color: var(--orange);
    }

    & .city-name {
      margin: 0 7px 0 11px;
    }

    & svg {
      &.location {
        width: 16px;
        height: 16px;
      }

      fill: none;
      stroke: currentColor;
    }
  }

  &__menu {
    padding: 0 25px;

    &-item {
      &:not(:last-child) {
        margin-right: 26px;
      }
    }

    &-link {
      color: var(--dark);
      transition: all .15s linear;

      &:hover {
        color: var(--orange);
      }
    }
  }

  &__lang,
  &__currency {
    &-outer {
      position: relative;
      text-transform: uppercase;

      & svg {
        fill: none;
        stroke: currentColor;
      }

      &.active {

        & .header__lang-list,
        & .header__currency-list {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }

    &-btn {
      padding: 11px 25px 14px;
    }

    &-list {
      position: absolute;
      top: 100%;
      background: var(--light);
      width: 100%;
      z-index: 1;
      border: 1px solid var(--grey);
      border-top: unset;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);

      transition: .3s linear;

      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      &-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--dark);
        padding: 8px 0;

        transition: all .15s linear;

        &:hover {
          text-shadow: .5px 0 .1px var(--orange);
          color: var(--orange);

          &:before {
            opacity: 1;
          }
        }

        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: linear-gradient(90deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
          opacity: 0;
          transition: all .15s linear;
        }
      }
    }

  }

  &__lang {
    &-btn {
      border-left: 1px solid var(--grey);
      border-right: 1px solid var(--grey);

      & .btnText {
        display: none;
      }
    }
  }

  &__currency {
    &-btn {
      border-right: 1px solid var(--grey);

      & .btnText,
      & .btnCurrency,
      & .hook {
        display: none;
      }
    }
  }

  &__log {
    margin-left: 25px;
    transition: all .15s linear;

    &:hover {
      color: var(--orange);
    }
  }

  &__bottom {
    padding: 21px 0 24px;
  }

  &__logo {
    min-width: 106px;
    margin-right: 40px;
    display: flex;
    flex-shrink: none;
  }

  &__search {
    &-form {
      max-width: 100%;
      width: 100%;
      position: relative;
      transition: all .15s linear;

      &.mob-active {
        position: absolute;
        width: 100%;
        z-index: 6;
      }

    }

    display: flex;
    max-width: 720px;
    width: 100%;
    padding: 11px 21px 12px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    color: var(--dark);
    outline: none;

    transition: all .15s linear;

    &.active,
    &.mob-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 15px;
      top: 10px;

      color: var(--dark);
      transition: all .15s linear;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      &:hover {
        color: var(--orange);
      }
    }

    &-list {
      transition: .15s linear;
      width: 100%;
      z-index: 5;
      position: absolute;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      border: 1px solid var(--grey);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      background: var(--light);
      padding-top: 10px;
      padding-bottom: 10px;

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      &-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
        width: 100%;
        color: var(--dark);
        padding: 11px 17px;

        position: relative;
        transition: all .15s linear;

        &:before {
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          background: linear-gradient(90deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
          opacity: 0;
          transition: all .15s linear;
        }

        &:hover {
          text-shadow: 0.5px 0 0.1px var(--orange);
          color: var(--orange);

          &:before {
            opacity: 1;
          }
        }
      }
    }

    &::placeholder {
      color: var(--dark-g);
    }
  }

  &__btn {
    &-wrapper {
      display: flex;
      align-items: center;
      margin-left: 37px;
    }

    &-outer {
      position: relative;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &#cartOuter:hover {
        & .header__cart-list-outer {
          pointer-events: all;
          display: block;
          animation: showCatalog .15s linear;
        }
      }

      &:before {
        width: 120px;
        height: 100px;
        background: var(--dark);
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-70%);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }

      &:hover {
        &:before {
          pointer-events: all;
          visibility: visible;
        }

        & .header__profile-list {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    position: relative;
    white-space: nowrap;

    transition: all .15s linear;

    &:hover {
      color: var(--orange);
    }

    & svg {
      fill: none;
      stroke: currentColor;
    }

    & .ellipse {
      position: absolute;
      background: var(--orange);
      left: 21px;
      top: -1px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &.active {
      color: var(--orange);
    }
  }

  &__profile-list {
    position: absolute;
    top: calc(100% + 26px);
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    background: var(--light);
    border: 1px solid var(--grey);
    border-top: unset;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    width: 182px;

    transition: all .15s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &-item {
      &:last-child .header__profile-list-link {
        padding-bottom: 16px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      text-align: left;
      position: relative;
      width: 100%;
      color: var(--dark);
      padding: 8px 16px;

      transition: all .15s linear;

      &:hover {
        text-shadow: .5px 0 .1px var(--orange);
        color: var(--orange);

        &:before {
          opacity: 1;
        }
      }

      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
        opacity: 0;
        transition: all .15s linear;
      }
    }
  }


  &__cart-list {
    overflow-y: auto;
    height: 315px;

    &::-webkit-scrollbar {
      width: 1px;
      background: var(--grey);

      &-thumb {
        color: var(--orange);
        background: currentColor;
      }
    }

    &-outer {
      z-index: 5;
      width: 420px;
      position: absolute;
      right: 0;
      top: calc(100% + 25px);
      background: var(--light);
      border: 1px solid var(--grey);
      padding: 17px 29px 16px 21px;

      transition: all .15s linear;

      display: none;
      pointer-events: none;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      &-title-trash {
        display: flex;
        align-items: center;
      }

      &-title {
        margin-right: 10px;
      }
    }

    &-footer {
      margin-top: 31px;
      border-top: 1px dashed var(--grey);
      padding-top: 14px;
    }

    &-total-amount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }

      &-price {
        color: var(--orange);
        font-weight: 600;
        font-size: 25px;
        line-height: 31px;
      }
    }

    &-trash {
      transition: all .3s linear;
      color: var(--dark-g);

      &:hover {
        color: var(--orange);
      }
    }

    &-checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 11px 0 12px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
    }

    &-img-outer {
      width: 78px;
      height: 64px;
      margin-right: 25px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      max-width: 167px;
      margin-right: 14px;
    }

    &-name {
      max-width: 160px;
      margin-bottom: 10px;
    }

    &-code {
      color: var(--grey);
    }

    &-price-trash {
      display: flex;
      align-items: center;
    }

    &-price {
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      white-space: nowrap;

      & .old {
        color: var(--grey);
        text-decoration: line-through;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 2px;
      }
    }

    padding-right: 5px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 15px;

    &-item {
      height: 64px;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__catalog {
    &-head {
      display: flex;
      &:before {
        position: absolute;
        bottom: -1px;
        width: 200%;
        height: 1px;
        left: 50%;
        transform: translate(-50%, -1px);
        content: "";
        background: var(--grey);
      }
      padding: 13px 0 14px;

      &-item {
        &:not(:last-child) {
          margin-right: 35px;
        }
      }

      &-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--dark);
        transition: all .15s linear;
        position: relative;

        &:before {
          width: 200px;
          height: 100px;
          background: var(--dark);
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
        }

        &:hover {
          text-shadow: .5px 0 .1px var(--orange);
          color: var(--orange);
        }
      }

      &-item {

        &.active {
          & .header__catalog-head-btn:before {
            pointer-events: all;
            visibility: visible;
          }

          & .catalog-modal {
            display: block;
            animation: showCatalog .15s linear;
          }
        }
      }
    }
  }
}
