.popular {
  margin-bottom: 60px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__slider {
    border-top: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    &-slide {
      border-right: 1px solid var(--grey);
      border-bottom: 1px solid var(--grey);
      height: 360px;
      box-sizing: border-box;
      width: 284px !important;
    }

    &-content {
      height: inherit;
    }
  }

  &__card {
    &-outer {
      border: unset !important;
    }
    box-sizing: border-box;
    border: unset !important;
    height: 360px;
  }
}
