<section class="ad">
  <h3 class="visually-hidden">Скрытый заголовок</h3>
  <div class="container">
    <div class="ad__inner">
      <a class="ad__big" href="#">
          <img loading="lazy" src="img/card-1.jpg" class="image" width="570" height="509" alt="img">
      </a>
      <div class="ad__small-outer">
        <a class="ad__small" href="#">
            <img loading="lazy" src="img/card-2.jpg" class="image" width="150" height="150" alt="img">
        </a>
        <a class="ad__small" href="#">
            <img loading="lazy" src="img/card-3.jpg" class="image" width="150" height="150" alt="img">
        </a>
        <a class="ad__small" href="#">
            <img loading="lazy" src="img/card-4.jpg" class="image" width="150" height="150" alt="img">
        </a>
        <a class="ad__small" href="#">
            <img loading="lazy" src="img/card-5.jpg" class="image" width="150" height="150" alt="img">
        </a>
      </div>
    </div>
  </div>
</section>
