<section class="all all-search">
  <h1 class="visually-hidden">Скрытый заголовок</h1>
  <div class="all__header">
    <h3 class="all__title hTwo">
      Результаты поиска “<span>Техника и бытовая химия</span>”
    </h3>
    <div class="all__input-outer input-outer">
      <button class="categories-btn btn-reset">
        <svg class="icon-20">
          <use xlink:href="img/sprite.svg#categories"></use>
        </svg>
      </button>
      <select class="all__select select all__input" name="filter-select"
        id="filter-select">
        <option class="all__option" value="рейтинг">По рейтингу</option>
        <option class="all__option" value="популярность">По популярности</option>
        <option class="all__option" value="дата">По дате</option>
      </select>
      <button class="settings-btn btn-reset">
        <svg class="icon-20">
          <use xlink:href="img/sprite.svg#settings"></use>
        </svg>
      </button>
    </div>

    <div class="all__search-result">
      Найдено <span>1243</span> товара
    </div>
  </div>
  <div class="card-outer card-four">
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-2.png" class="image" width="120" height="140" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-3.png" class="image" width="138" height="152" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-4.png" class="image" width="110" height="158" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-2.png" class="image" width="120" height="140" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-3.png" class="image" width="138" height="152" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-4.png" class="image" width="110" height="158" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
    <a class=" card" href="#">
      <div class="card-sale">-10%</div>
      <div class="card-favorite btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <div class="card-img-outer">
          <img loading="lazy" src="img/popular-4.png" class="image" width="110" height="158" alt="img">
      </div>
      <div class="card-info">
        <div class="card-review-outer">
          <div class="card-review-star-list">
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="colored card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="card-review-star">
              <svg>
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="card-review">
            12 отзывов
          </div>
        </div>
        <div class="card-name">
          MacBook Air 13, 256gb
          MQ342424
        </div>
        <div class="card-price">
          34 599 ₴ <span class="old">40 000 ₴</span>
        </div>
      </div>
    </a>
  </div>
  <div class="seller-profile__review-pagination-more">
    <ul class="seller-profile__review-pagination profile-orders__pagination list-reset">
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link prev visually-hidden" href="#">
          <svg class="icon-10">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          1
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          2
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          3
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          4
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          5
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          ...
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link" href="#">
          12
        </a>
      </li>
      <li class="profile-orders__pagination-item">
        <a class="profile-orders__pagination-link next" href="#">
          <svg class="icon-10">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="seller-profile__review-more btn-reset uncol-btn">
      Показать еще
    </button>
  </div>
</section>
