<section class="big-sale big-sale-invert">
  <div class="container">
    <div class="big-sale__inner">
      <div class="big-sale__card-outer card-outer">
        <a class="card" href="#">
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
            <picture>
              <source srcset="img/popular-1.avif" type="image/avif">
              <source srcset="img/popular-1.webp" type="image/webp">
              <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
            </picture>
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴
            </div>
          </div>
        </a>
        <a class="card" href="#">
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
            <picture>
              <source srcset="img/popular-1.avif" type="image/avif">
              <source srcset="img/popular-1.webp" type="image/webp">
              <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
            </picture>
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴
            </div>
          </div>
        </a>
        <a class="card" href="#">
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
            <picture>
              <source srcset="img/popular-1.avif" type="image/avif">
              <source srcset="img/popular-1.webp" type="image/webp">
              <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
            </picture>
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴
            </div>
          </div>
        </a>
        <a class="card" href="#">
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
            <picture>
              <source srcset="img/popular-1.avif" type="image/avif">
              <source srcset="img/popular-1.webp" type="image/webp">
              <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
            </picture>
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴
            </div>
          </div>
        </a>
      </div>
      <div class="big-sale__big-card">
        <div class="big-sale__big-card-bg">
          <picture>
            <source srcset="img/big-sale-2.avif" type="image/avif">
            <source srcset="img/big-sale-2.webp" type="image/webp">
            <img loading="lazy" src="img/big-sale-2.jpg" class="image" width="556" height="719" alt="img">
          </picture>
        </div>
        <div class="big-sale__big-card-info">
          <h3 class="big-sale__big-card-title hOne">
            Большая весенняя распродажа
          </h3>
          <p class="big-sale__big-card-subtitle">
            Скидка -15% на новую коллекцию
          </p>
          <a class="big-sale__big-card-link textLink" href="#">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#big-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
