<section class="card-section">
  <h3 class="visually-hidden">Скрытый заголовок</h3>
  <div class="container">
    <div class="card-section__inner">
      <div class="card-outer card-four">
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-2.png" class="image" width="120" height="140" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-3.png" class="image" width="138" height="152" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-4.png" class="image" width="110" height="158" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-2.png" class="image" width="120" height="140" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-3.png" class="image" width="138" height="152" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
        <a class=" card" href="#">
          <div class="card-sale">-10%</div>
          <div class="card-favorite btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="card-img-outer">
              <img loading="lazy" src="img/popular-4.png" class="image" width="110" height="158" alt="img">
          </div>
          <div class="card-info">
            <div class="card-review-outer">
              <div class="card-review-star-list">
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="colored card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="card-review-star">
                  <svg>
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
              <div class="card-review">
                12 отзывов
              </div>
            </div>
            <div class="card-name">
              MacBook Air 13, 256gb
              MQ342424
            </div>
            <div class="card-price">
              34 599 ₴ <span class="old">40 000 ₴</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
