<section class="cart">
  <h1 class="visually-hidden">Скрытый заголовок</h1>
  <div class="container">
    <div class="cart__inner">
      <div class="cart-order__outer">
        <div class="cart-order__shop">
          <div class="cart-order__shop-header">
            <h3 class="cart-order__shop-title">Магазин “Техники -  !ОМА”</h3>
            <button class="cart-order__shop-delete-all btn-reset">
              Удалить весь товар
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#trash"></use>
              </svg>
            </button>
          </div>
          <div class="cart-order">
            <div class="cart-order__img-info">
              <div class="cart-order__img-outer">
                  <img loading="lazy" src="img/popular-1.png" class="image" width="103" height="103" alt="img">
              </div>
              <div class="cart-order__info">
                <div class="cart-order__name">
                  Подушка очень крутая,
                  и с очень длинным названием, 150х70см, 1шт.
                  и с очень длинным названием, 150х70см, 1шт.
                </div>
                <div class="cart-order__code">
                  Code: 32424
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="cart-order__count-outer">
                <button class="cart-order__count-less cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#minus"></use>
                  </svg>
                </button>
                <div class="cart-order__count"><span class="cart-order__count-span">2</span> шт.</div>
                <button class="cart-order__count-more cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
              <div class="cart-order__price">
                38 599 ₴
              </div>
              <button class="cart-order__delete btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#trash"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="cart-order">
            <div class="cart-order__img-info">
              <div class="cart-order__img-outer">
                  <img loading="lazy" src="img/cart-card-2.jpg" class="image" width="103" height="103" alt="img">
              </div>
              <div class="cart-order__info">
                <div class="cart-order__name">
                  Подушка очень крутая,
                  и с очень длинным названием, 150х70см, 1шт.
                  и с очень длинным названием, 150х70см, 1шт.
                </div>
                <div class="cart-order__code">
                  Code: 32424
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="cart-order__count-outer">
                <button class="cart-order__count-less cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#minus"></use>
                  </svg>
                </button>
                <div class="cart-order__count"><span class="cart-order__count-span">2</span> шт.</div>
                <button class="cart-order__count-more cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
              <div class="cart-order__price">
                38 599 ₴
              </div>
              <button class="cart-order__delete btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#trash"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="cart-order">
            <div class="cart-order__img-info">
              <div class="cart-order__img-outer">
                  <img loading="lazy" src="img/cart-card-3.jpg" class="image" width="103" height="103" alt="img">
              </div>
              <div class="cart-order__info">
                <div class="cart-order__name">
                  Подушка очень крутая,
                  и с очень длинным названием, 150х70см, 1шт.
                  и с очень длинным названием, 150х70см, 1шт.
                </div>
                <div class="cart-order__code">
                  Code: 32424
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="cart-order__count-outer">
                <button class="cart-order__count-less cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#minus"></use>
                  </svg>
                </button>
                <div class="cart-order__count"><span class="cart-order__count-span">2</span> шт.</div>
                <button class="cart-order__count-more cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
              <div class="cart-order__price">
                38 599 ₴
              </div>
              <button class="cart-order__delete btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="cart-order__shop">
          <div class="cart-order__shop-header">
            <h3 class="cart-order__shop-title">Магазин одежды “Monamic”</h3>
            <button class="cart-order__shop-delete-all btn-reset">
              Удалить весь товар
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#trash"></use>
              </svg>
            </button>
          </div>
          <div class="cart-order">
            <div class="cart-order__img-info">
              <div class="cart-order__img-outer">
                  <img loading="lazy" src="img/cart-card-4.jpg" class="image" width="103" height="103" alt="img">
              </div>
              <div class="cart-order__info">
                <div class="cart-order__name">
                  Подушка очень крутая,
                  и с очень длинным названием, 150х70см, 1шт.
                  и с очень длинным названием, 150х70см, 1шт.
                </div>
                <div class="cart-order__code">
                  Code: 32424
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="cart-order__count-outer">
                <button class="cart-order__count-less cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#minus"></use>
                  </svg>
                </button>
                <div class="cart-order__count"><span class="cart-order__count-span">2</span> шт.</div>
                <button class="cart-order__count-more cart-order__count-btn btn-reset">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
              <div class="cart-order__price">
                38 599 ₴
              </div>
              <button class="cart-order__delete btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-sum__outer">
        <h4 class="cart-sum__title">
          Итоговый заказ
        </h4>
        <div class="cart-sum__inner">
          <div class="cart-sum__count-outer">
            <div class="cart-sum__count">
              <span class="text">
                Кол. товаров:
              </span>
              <span class="num">
                3
              </span>
            </div>
            <div class="cart-sum__count">
              <span class="text">
                Вес:
              </span>
              <span class="num">
                5 кг. 540 г.
              </span>
            </div>
          </div>
          <form class="cart-sum__promocode-form promocode-form" action="#">
            <input class="cart-sum__promocode-input promocode-input input-reset" type="text" placeholder="Промокод">
            <button class="cart-sum__promocode-btn promocode-btn btn-reset col-btn disable">Ок</button>
          </form>
          <div class="cart-sum">
            <div class="title">
              Общая сумма заказа:
            </div>
            <div class="sum">
              124 599 ₴
            </div>
          </div>
          <button class="cart-sum__btn btn-reset col-btn">
            Оформить заказ
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
