<section class="cat-head cart-head">
  <div class="container">
    <div class="cat-head__inner">
      <div class="cat-head__info">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="index.html">
                Главная
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">
                Корзина
              </a>
            </li>
          </ul>
        </div>
        <h1 class="cat-head__title hOne">Корзина</h1>
      </div>
      <div class="cat-head__img-outer">
          <img loading="lazy" src="img/cart-head-img.png" class="image" width="756" height="100%" alt="img">
      </div>
    </div>
  </div>
</section>
