<section class="cat-head">
  <div class="container">
    <div class="cat-head__inner">
      <div class="cat-head__info">
        <h1 class="cat-head__title hOne">Каталог</h1>
        <p class="cat-head__subtitle">Более 50 000+ товаров на любой вкус</p>
      </div>
      <div class="cat-head__img-outer">
        <picture>
          <source srcset="img/catalog-head.avif" type="image/avif">
          <source srcset="img/catalog-head.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-head.png" class="image" width="849" height="300" alt="img">
        </picture>
      </div>
    </div>
  </div>
</section>
