<div class="filter">
  <div class="categories filter-acc">
    <button class="categories__open filter-acc__btn btn-reset" data-filter="#filter-1">
      Категории
      <svg class="icon-10">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </button>
    <div class="categories__content filter-acc__content" id="filter-1">
      <ul class="categories__list list-reset">
        <li class="categories__list-item">
          <div class="categories__list-link">
            Все товары
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Женщинам
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Мужчинам
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Детям
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Красота и здоровье
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Товары для дома
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Детские товары
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Бытовая техника
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Хобби и творщество
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Украшение и акссесуары
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Продукты питания
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Спортивные товары
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Концелярские товары
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Побутовая химия
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
        <li class="categories__list-item">
          <div class="categories__list-link">
            Зоотовары
          </div>
          <ul class="categories__sublist list-reset">
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для лица
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Маски
              </a>
            </li>
            <li class="categories__sublist-item">
              <a class="categories__sublist-link" href="#">
                Крем для рук
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="filter-block">
    <div class="price filter-acc">
      <button class="price__open filter-acc__btn btn-reset" data-filter="#filter-2">
        Цена
        <svg class="icon-10">
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="price__content filter-acc__content" id="filter-2">
        <div class="price__input-wrapper">
          <label class="price__input-outer input-outer">
            <input class="price__input input input-reset" min="1" max="999999" placeholder="10" type="number" id="input-0">
            <span class="valute">$</span>
          </label>
          <span>-</span>
          <label class="price__input-outer input-outer">
            <input class="price__input input input-reset" min="1" max="999999" placeholder="10000" type="number" id="input-1">
            <span class="valute">$</span>
          </label>
        </div>
        <div class="price__slider" id="range-slider"></div>
      </div>
    </div>
    <div class="type filter-acc">
      <button class="type__open filter-acc__btn btn-reset" data-filter="#filter-3">
        Тип
        <svg class="icon-10">
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="type__content filter-acc__content" id="filter-3">
        <form class="type__form" action="#">
          <input class="type__input input-reset" type="text" placeholder="Поиск">
          <ul class="type__result list-reset">
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Туалетная вода
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Одеколон
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Сухие духи
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Масла
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Аромовоск
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
                <span class="type__checkbox-count">(22)</span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="type filter-acc">
      <button class="type__open filter-acc__btn btn-reset" data-filter="#filter-4">
        Для кого
        <svg class="icon-10">
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="type__content filter-acc__content" id="filter-4">
        <form class="type__form" action="#">
          <input class="type__input input-reset" type="text" placeholder="Поиск">
          <ul class="type__result list-reset">
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Туалетная вода
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Одеколон
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Сухие духи
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Масла
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Аромовоск
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="type filter-acc">
      <button class="type__open filter-acc__btn btn-reset" data-filter="#filter-5">
        Аромат
        <svg class="icon-10">
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="type__content filter-acc__content" id="filter-5">
        <form class="type__form" action="#">
          <input class="type__input input-reset" type="text" placeholder="Поиск">
          <ul class="type__result list-reset">
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Туалетная вода
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Одеколон
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Сухие духи
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Масла
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Аромовоск
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="type filter-acc">
      <button class="type__open filter-acc__btn btn-reset" data-filter="#filter-6">
        Бренд
        <svg class="icon-10">
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="type__content filter-acc__content" id="filter-6">
        <form class="type__form" action="#">
          <input class="type__input input-reset" type="text" placeholder="Поиск">
          <ul class="type__result list-reset">
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Туалетная вода
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Одеколон
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Сухие духи
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Масла
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Аромовоск
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
            <li class="type__result-item">
              <label class="type__checkbox-outer checkbox-outer">
                <input class="type__checkbox checkbox" type="checkbox">
                <span class="type__checkbox-style checkbox-style"></span>
                <span class="type__checkbox-text checkbox-text">
                  Флаконы и аксессуары
                </span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
