<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__menu-wrapper">
        <nav class="footer__menu-outer">
          <h6 class="footer__menu-title">
            О компании
          </h6>
          <ul class="footer__menu list-reset">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Об thrify.store
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Вакансии
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Контакты для прессы
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Реквизиты
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Горячая линия комплаенс
              </a>
            </li>
          </ul>
        </nav>
        <nav class="footer__menu-outer">
          <h6 class="footer__menu-title">
            Помощь
          </h6>
          <ul class="footer__menu list-reset">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Как сделать заказ
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Доставка
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Оплата
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Контакты
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Безопасность
              </a>
            </li>
          </ul>
        </nav>
        <nav class="footer__menu-outer">
          <h6 class="footer__menu-title">
            Правовая информация
          </h6>
          <ul class="footer__menu list-reset">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Условия использования сайта
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Политика обработки персональных данных
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <a class="footer__logo" href="#">
          <img src="img/logo.svg" alt="img">
        </a>
        <p class="footer__rights">
          © 2022 ТОО «Интернет Решения». Все права защищены.
        </p>
        <ul class="footer__social list-reset">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
