<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__big-slider-hidden swiper visually-hidden">
        <div class="hero__big-slider-hidden-wrapper swiper-wrapper">
          <div class="hero__big-slider-hidden-slide swiper-slide">
            1
          </div>
          <div class="hero__big-slider-hidden-slide swiper-slide">
            2
          </div>
          <div class="hero__big-slider-hidden-slide swiper-slide">
            3
          </div>
          <div class="hero__big-slider-hidden-slide swiper-slide">
            4
          </div>
          <div class="hero__big-slider-hidden-slide swiper-slide">
            5
          </div>
          <div class="hero__big-slider-hidden-slide swiper-slide">
            6
          </div>
          <div class="hero__big-slider-hidden-slide swiper-slide">
            7
          </div>
        </div>
      </div>
      <div class="hero__big-slider-outer">
        <div class="hero__big-slider swiper">
          <div class="hero__big-slider-wrapper swiper-wrapper">
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая весенняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая Летняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая осенняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая зимняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая весенняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая зимняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
            <div class="hero__big-slider-slide swiper-slide">
              <div class="hero__big-slider-content">
                <div class="hero__big-slider-info">
                  <p class="hero__big-slider-suptitle">
                    Tommy Hilfiger
                  </p>
                  <h4 class="hero__big-slider-title hOne">
                    Большая весенняя распродажа
                  </h4>
                  <p class="hero__big-slider-subtitle">
                    Скидка -15% на новую коллекцию
                  </p>
                  <a class="hero__big-slider-link textLink" href="#">
                    Подробнее
                    <svg>
                      <use xlink:href="img/sprite.svg#big-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="hero__big-slider-img-outer">
                  <picture>
                    <source srcset="img/hero-big-slider-img.avif" type="image/avif">
                    <source srcset="img/hero-big-slider-img.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-big-slider-img.png" class="image" width="833" height="523"
                      alt="img">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="hero__big-slider-navigation">
            <div class="hero__big-slider-hidden-pagination"></div>
            <div class="hero__big-slider-navigation-row">
              <button class="hero__big-slider-prev btn-reset">
                <svg class="icon-10">
                  <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
              </button>
              <div class="hero__big-slider-progress"></div>
              <button class="hero__big-slider-next btn-reset">
                <svg class="icon-10">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__small-slider-outer">
        <div class="hero__small-slider swiper">
          <div class="hero__small-slider-wrapper swiper-wrapper">
            <div class="hero__small-slider-slide swiper-slide">
              <div class="hero__small-slider-content">
                <a class="hero__small-slider-link" href="#">
                  <picture>
                    <source srcset="img/hero-small-slider-1.avif" type="image/avif">
                    <source srcset="img/hero-small-slider-1.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-small-slider-1.png" class="image" width="275" height="140"
                      alt="img">
                  </picture>
                </a>
              </div>
            </div>
            <div class="hero__small-slider-slide swiper-slide">
              <div class="hero__small-slider-content">
                <a class="hero__small-slider-link" href="#">
                  <picture>
                    <source srcset="img/hero-small-slider-2.avif" type="image/avif">
                    <source srcset="img/hero-small-slider-2.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-small-slider-2.png" class="image" width="275" height="140"
                      alt="img">
                  </picture>
                </a>
              </div>
            </div>
            <div class="hero__small-slider-slide swiper-slide">
              <div class="hero__small-slider-content">
                <a class="hero__small-slider-link" href="#">
                  <picture>
                    <source srcset="img/hero-small-slider-3.avif" type="image/avif">
                    <source srcset="img/hero-small-slider-3.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-small-slider-3.png" class="image" width="275" height="140"
                      alt="img">
                  </picture>
                </a>
              </div>
            </div>
            <div class="hero__small-slider-slide swiper-slide">
              <div class="hero__small-slider-content">
                <a class="hero__small-slider-link" href="#">
                  <picture>
                    <source srcset="img/hero-small-slider-4.avif" type="image/avif">
                    <source srcset="img/hero-small-slider-4.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-small-slider-4.png" class="image" width="275" height="140"
                      alt="img">
                  </picture>
                </a>
              </div>
            </div>
            <div class="hero__small-slider-slide swiper-slide">
              <div class="hero__small-slider-content">
                <a class="hero__small-slider-link" href="#">
                  <picture>
                    <source srcset="img/hero-small-slider-1.avif" type="image/avif">
                    <source srcset="img/hero-small-slider-1.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-small-slider-1.png" class="image" width="275" height="140"
                      alt="img">
                  </picture>
                </a>
              </div>
            </div>
            <div class="hero__small-slider-slide swiper-slide">
              <div class="hero__small-slider-content">
                <a class="hero__small-slider-link" href="#">
                  <picture>
                    <source srcset="img/hero-small-slider-2.avif" type="image/avif">
                    <source srcset="img/hero-small-slider-2.webp" type="image/webp">
                    <img loading="lazy" src="img/hero-small-slider-2.png" class="image" width="275" height="140"
                      alt="img">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
