<div class="modals">
  <div class="city-modal">
    <div class="city-modal__inner">
      <button class="city-modal__close btn-reset">
        <svg class="icon-20">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
      <h3 class="city-modal__title hThr">
        Выберите город
      </h3>
      <div class="city-modal__form">
        <label class="city-modal__search-outer">
          <input class="city-modal__search input-reset" type="text" placeholder="Введите Ваш город">
        </label>
        <ul class="city-modal__list list-reset">
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Киев
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Одесса
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Николаев
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Херсон
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Харьков
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Хмельницк
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Львов
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Ужгород
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Суммы
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Кривой Рог
            </button>
          </li>
          <li class="city-modal__list-item">
            <button class="city-modal__list-btn btn-reset">
              Донецк
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mob-bottom">
    <div class="container">
      <div class="mob-bottom__inner">
        <ul class="mob-bottom__list list-reset">
          <li class="mob-bottom__list-item">
            <a class="mob-bottom__list-link" href="index.html">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#home"></use>
              </svg>
              <span>Главная</span>
            </a>
          </li>
          <li class="mob-bottom__list-item">
            <a class="mob-bottom__list-link" href="catalog.html">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#catalog"></use>
              </svg>
              <span>Каталог</span>
            </a>
          </li>
          <li class="mob-bottom__list-item">
            <a class="mob-bottom__list-link" href="cart.html">
              <span class="ellipse"></span>
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <span>Корзина</span>
            </a>
          </li>
          <li class="mob-bottom__list-item">
            <a class="mob-bottom__list-link" href="favorite.html">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
              <span>Избранное</span>
            </a>
          </li>
          <li class="mob-bottom__list-item">
            <a class="mob-bottom__list-link" href="profile-personal.html">
              <svg class="icon-20">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
              <span>Профиль</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ordering-s-modal s-modal">
    <div class="container">
      <div class="ordering-s-modal__inner s-modal__inner">
        <button class="ordering-s-modal__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="ordering-s-modal__img-outer s-modal__img-outer modal">
          <img loading="lazy" src="img/verify.svg" class="image" width="72" height="72" alt="img">
        </div>
        <h3 class="ordering-s-modal__title s-modal__title hThr">
          Заказ успешно оформлен!
        </h3>
        <p class="ordering-s-modal__subtitle s-modal__subtitle">
          Ваш заказ №13134134
        </p>
        <a class="ordering-s-modal__link s-modal__link col-btn" href="#">
          Информация о заказе
        </a>
      </div>
    </div>
  </div>

  <div class="cart-s-modal s-modal">
    <div class="container">
      <div class="cart-s-modal__inner s-modal__inner">
        <button class="cart-s-modal__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="cart-s-modal__img-outer s-modal__img-outer modal">
          <img loading="lazy" src="img/verify.svg" class="image" width="72" height="72" alt="img">
        </div>
        <h3 class="cart-s-modal__title s-modal__title hThr">
          Товар добавлен
          в корзину
        </h3>
        <a class="cart-s-modal__link s-modal__link col-btn" href="ordering.html">
          Продолжить покупку
        </a>
        <a class="cart-s-modal__link s-modal__link uncol-btn" href="cart.html">
          Перейти в корзину
        </a>
      </div>
    </div>
  </div>

  <div class="cancel-order-modal s-modal">
    <div class="container">
      <div class="cancel-order-modal__inner s-modal__inner">
        <button class="cancel-order-modal__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="cancel-order-modal__title s-modal__title hThr">
          Вы уверены?
        </h3>
        <p class="cancel-order-modal__subtitle s-modal__subtitle">
          Вы точно хотите отменить заказ?
        </p>
        <button class="cancel-order-modal__no s-modal__link col-btn btn-reset">
          Нет
        </button>
        <button class="cancel-order-modal__yes s-modal__link uncol-btn btn-reset">
          Отменить заказ
        </button>
      </div>
    </div>
  </div>

  <div class="restore-pass s-modal c-modal">
    <div class="container">
      <div class="restore-pass__inner s-modal__inner">
        <button class="restore-pass__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="restore-pass__title s-modal__title s-modal__width hThr">
          Восстановить пароль
        </h3>
        <form class="restore-pass__form s-modal__form" action="#">
          <label class="restore-pass__input-outer input-outer">
            <input class="restore-pass__input input input-reset" type="text" placeholder="Телефон или e-mail"
              data-validate-field="restoreInput" name="restoreInput">
          </label>
          <button class="restore-pass__btn s-modal__link s-modal__width col-btn btn-reset" type="submit">
            Восстановить
          </button>
          <div class="block">
            <label class="checkbox-outer">
              <input class="checkbox" type="checkbox">
              <span class="checkbox-style"></span>
              <span class="checkbox-text">
                Чужой компьютер
              </span>
            </label>
            <div class="checkbox-outer">
              <label class="checkbox-outer">
                <input class="checkbox" type="checkbox" data-validate-field="restoreCheck" name="restoreCheck">
                <span class="checkbox-style"></span>
                <span class="checkbox-text">
                  Согласен с условиями <a class="checkbox-link" href="#">Правил пользования торговойплощадкой</a> и <a
                    class="checkbox-link" href="#">Правилами возврата</a>
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="restore-pass__enter-code s-modal c-modal">
    <div class="container">
      <div class="enter-code__inner s-modal__inner">
        <button class="restore-pass__enter-code__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="enter-code__title s-modal__title hThr">
          Введите код
        </h3>
        <p class="enter-code__subtitle s-modal__subtitle">
          На номер <span>+79606006060</span> отправлен код подтверждения
          <a class="s-modal__subtitle-link" href="#">Изменить номер</a>
        </p>
        <form class="restore-pass__enter-code__form s-modal__form" action="#">
          <div class="enter-code__input-outer input-outer">
            <input class="enter-code__input input input-reset" type="text" id="restore-code" data-validate-field="restoreEnterCode"
              name="restoreEnterCode">
            <button class="input-new btn-reset" type="submit">Получить новый код</button>
          </div>
          <button class="restore-pass__enter-code__btn s-modal__link s-modal__width col-btn btn-reset">
            Получить код
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="sign-modal__enter-code s-modal c-modal">
    <div class="container">
      <div class="enter-code__inner s-modal__inner">
        <button class="sign-modal__enter-code__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="enter-code__title s-modal__title hThr">
          Введите код
        </h3>
        <p class="enter-code__subtitle s-modal__subtitle">
          На номер <span>+79606006060</span> отправлен код подтверждения
          <a class="s-modal__subtitle-link" href="#">Изменить номер</a>
        </p>
        <form class="sign-modal__enter-code__form s-modal__form" action="#">
          <div class="enter-code__input-outer input-outer">
            <input class="enter-code__input input input-reset" type="text" id="sign-code" data-validate-field="signEnterCode"
              name="signEnterCode">
            <button class="input-new btn-reset" type="submit">Получить новый код</button>
          </div>
          <button class="sign-modal__enter-code__btn s-modal__link s-modal__width col-btn btn-reset">
            Получить код
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="new-pass s-modal c-modal">
    <div class="container">
      <div class="new-pass__inner s-modal__inner">
        <button class="new-pass__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="new-pass__title s-modal__title hThr">
          Новый пароль
        </h3>
        <form class="new-pass__form s-modal__form" action="#">
          <label class="new-pass__input-outer input-outer">
            <input class="new-pass__input input input-reset" type="password" placeholder="Новый пароль"
              data-validate-field="newPassOld" name="newPassOld">
          </label>
          <label class="new-pass__input-outer input-outer">
            <input class="new-pass__input input input-reset" type="password" placeholder="Повторный пароль"
              data-validate-field="newPassNew" name="newPassNew">
          </label>
          <button class="new-pass__btn s-modal__link s-modal__width col-btn btn-reset">
            Создать новый пароль
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="sign-modal s-modal c-modal">
    <div class="container">
      <div class="sign-modal__inner s-modal__inner">
        <button class="sign-modal__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="sign-modal__title s-modal__title hThr">
          Войти или<br>
          зарегистрироваться
        </h3>
        <form class="sign-modal__form s-modal__form">
          <label class="sign-modal__input-outer input-outer">
            <input class="sign-modal__input input input-reset" type="text" placeholder="Телефон или e-mail"
              data-validate-field="signInput" name="signInput">
          </label>
          <button class="sign-modal__btn s-modal__link s-modal__width col-btn btn-reset">
            Получить код
          </button>
          <div class="block">
            <label class="checkbox-outer">
              <input class="checkbox" type="checkbox">
              <span class="checkbox-style"></span>
              <span class="checkbox-text">
                Чужой компьютер
              </span>
            </label>
            <div class="checkbox-outer">
              <label class="checkbox-outer">
                <input class="checkbox sogl-check" type="checkbox" data-validate-field="signCheckbox" name="signCheckbox">
                <span class="checkbox-style"></span>
                <span class="checkbox-text">
                  Согласен с условиями <a class="checkbox-link" href="#">Правил пользования торговойплощадкой</a> и <a
                    class="checkbox-link" href="#">Правилами возврата</a>
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="sf-reg s-modal c-modal">
    <div class="container">
      <div class="sf-reg__inner s-modal__inner">
        <button class="sf-reg__close s-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="s-modal__img-outer">
          <img loading="lazy" src="img/verify.svg" class="image" width="72" height="72" alt="img">
        </div>
        <h3 class="sf-reg__title s-modal__title hThr">
          Вы успешно<br>
          зарегистрировались!
        </h3>
        <p class="sf-reg__subtitle s-modal__subtitle">
          Заполните свои данные в настройках профиля
        </p>
        <a class="sf-reg__btn s-modal__link s-modal__width col-btn btn-reset" href="profile-personal.html">
          Заполнить данные
        </a>
      </div>
    </div>
  </div>

  <div class="categories-modal">
    <div class="categories-modal__header">
      <h4 class="categories-modal__title">Категории</h4>
      <button class="categories-modal__close btn-reset">
        <svg class="icon-20">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="seller-catalog__slider swiper">
      <div class="seller-catalog__slider-wrapper swiper-wrapper">
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Женщинам
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-1.avif" type="image/avif">
                <source srcset="img/catalog-card-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-1.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Мужчинам
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-2.avif" type="image/avif">
                <source srcset="img/catalog-card-2.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-2.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Детям
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-3.avif" type="image/avif">
                <source srcset="img/catalog-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-3.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Красота и Здоровье
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-4.avif" type="image/avif">
                <source srcset="img/catalog-card-4.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-4.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Товары для дома
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-5.avif" type="image/avif">
                <source srcset="img/catalog-card-5.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-5.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Детские товары
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-6.avif" type="image/avif">
                <source srcset="img/catalog-card-6.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-6.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Бытовая техника
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-7.avif" type="image/avif">
                <source srcset="img/catalog-card-7.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-7.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Хобби и творчество
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-8.avif" type="image/avif">
                <source srcset="img/catalog-card-8.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-8.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Украшения и аксессуары
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-9.avif" type="image/avif">
                <source srcset="img/catalog-card-9.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-9.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Продукты питания
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-10.avif" type="image/avif">
                <source srcset="img/catalog-card-10.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-10.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Спортивные товары
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-11.avif" type="image/avif">
                <source srcset="img/catalog-card-11.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-11.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Канцелярские товары
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-12.avif" type="image/avif">
                <source srcset="img/catalog-card-12.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-12.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Бытовая химия
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-13.avif" type="image/avif">
                <source srcset="img/catalog-card-13.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-13.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
        <div class="seller-catalog__slider-slide swiper-slide">
          <span class="border"></span>
          <a class="seller-catalog__card" href="#">
            <span class="before-ellipce"></span>
            <span class="after-ellipce"></span>
            <div class="seller-catalog__card-name">
              Зоотовары
            </div>
            <div class="seller-catalog__card-img-outer">
              <picture>
                <source srcset="img/catalog-card-14.avif" type="image/avif">
                <source srcset="img/catalog-card-14.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-card-14.png" class="image" width="100" height="100" alt="img">
              </picture>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="catalog__acc-outer">
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Все товары
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Женщинам
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Мужчинам
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Детям
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Красота и здоровье
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Товары для дома
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Детские товары
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Все товары
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Все товары
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Все товары
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Женщинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Мужчинам</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Детям</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Красота и здоровье</a></li>
            <li class="catalog__acc-list-item"><a class="catalog__acc-list-link" href="#">Хобби и творчество</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="categories-modal__activate">
      <button class="categories-modal__activate-btn btn-reset col-btn">
        Применить
      </button>
    </div>
  </div>


  <div class="settings-modal">
    <div class="settings-modal__header">
      <h4 class="settings-modal__title">Фильтр</h4>
      <button class="settings-modal__close btn-reset">
        <svg class="icon-20">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="container">
      <div class="catalog__acc-outer">
        <button class="type-modal__btn btn-reset" id="type">
          Тип
          <svg class="icon-10">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Бренды
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Все бренды

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein Jeance

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Бренды
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Все бренды

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein Jeance

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Бренды
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Все бренды

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein Jeance

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
        <nav class="catalog__acc">
          <button class="catalog__acc-btn btn-reset">
            Бренды
            <svg class="icon-10">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <ul class="catalog__acc-list list-reset">
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Все бренды

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein Jeance

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Calvin Klein

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="catalog__acc-list-item">
              <label class="radio-outer">
                Zara

                <input class="radio" type="radio" name="filter-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="settings-modal__activate">
      <button class="settings-modal__activate-btn btn-reset col-btn">
        Применить
      </button>
    </div>

    <div class="type-modal">
      <div class="type-modal__header">
        <button class="type-modal__close btn-reset">
          <svg class="icon-20">
            <use xlink:href="img/sprite.svg#type-arrow-left"></use>
          </svg>
        </button>
        <h4 class="type-modal__title">
          Тип
        </h4>
      </div>

      <div class="container">
        <input type="text" class="type-modal__search input-reset" placeholder="Поиск по списку">
        <nav class="type-modal__list-outer">
          <div class="type-modal__list-title">
            A
          </div>
          <ul class="type-modal__list list-reset">
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A1

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A2

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A3

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A4

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A5

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
        <nav class="type-modal__list-outer">
          <div class="type-modal__list-title">
            A
          </div>
          <ul class="type-modal__list list-reset">
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A1

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A2

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A3

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A4

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A5

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
        <nav class="type-modal__list-outer">
          <div class="type-modal__list-title">
            A
          </div>
          <ul class="type-modal__list list-reset">
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A1

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A2

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A3

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A4

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A5

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
        <nav class="type-modal__list-outer">
          <div class="type-modal__list-title">
            A
          </div>
          <ul class="type-modal__list list-reset">
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A1

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A2

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A3

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A4

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
            <li class="type-modal__list-item">
              <label class="radio-outer">
                A5

                <input class="radio" type="radio" name="type-radio">
                <span class="radio-style"></span>
              </label>
            </li>
          </ul>
        </nav>
      </div>

      <div class="type-modal__activate">
        <button class="type-modal__activate-btn btn-reset col-btn">
          Применить
        </button>
      </div>
    </div>
  </div>
</div>
