<section class="ordering">
  <h1 class="visually-hidden">Скрытый заголовок</h1>
  <div class="container">
    <div class="ordering__inner">
      <div class="ordering-step__outer">
        <div class="ordering-step">
          <div class="ordering-step__header">
            <div class="ordering-step__header-info">
              <div class="ordering-step__header-num">
                01
              </div>
              <h3 class="ordering-step__header-title">
                Контактная информация
              </h3>
            </div>
            <div class="ordering-step__header-sign">
              <a class="ordering-step__header-sign-in" href="#">
                Войдите в свой профиль
              </a>
              или
              <a class="ordering-step__header-sign-up" href="#">
                зарегистрируйтесь
              </a>
            </div>
          </div>
          <div class="ordering-step__content">
            <form class="profile-address__form form" action="#">
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" value="Александр" type="text">
                <span>Имя</span>
              </label>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" value="Ткач" type="text">
                <span>Фамилия</span>
              </label>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" value="+38 (063) 877 02 68" type="text">
                <span>Номер телефона</span>
              </label>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" value="alexsandr.tkachuk18@gmail.com"
                  type="text">
                <span>E-mail</span>
              </label>
            </form>
          </div>
        </div>

        <div class="ordering-step">
          <div class="ordering-step__header">
            <div class="ordering-step__header-info">
              <div class="ordering-step__header-num">
                02
              </div>
              <h3 class="ordering-step__header-title">
                Данные доставки
              </h3>
            </div>
          </div>
          <div class="ordering-step__content">
            <form class="profile-address__form form" action="#">
              <label class="profile-address__input-outer input-outer">
                <select class="profile-address__select select profile-address__input" name="profile-data-select"
                  id="ordering-select">
                  <option class="profile-address__option" value="мужской">Казахстан</option>
                  <option class="profile-address__option" value="мужской">Россия</option>
                  <option class="profile-address__option" value="мужской">Украина</option>
                </select>
              </label>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" type="text" placeholder="Город">
              </label>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" type="text" placeholder="Область">
              </label>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" type="text" placeholder="Адрес">
              </label>
              <div class="small-input-wrapper">
                <label class="profile-address__input-outer input-outer">
                  <input class="profile-address__input input input-reset" type="text" placeholder="№ Дома">
                </label>
                <label class="profile-address__input-outer input-outer">
                  <input class="profile-address__input input input-reset" type="text" placeholder="Подъезд">
                </label>
                <label class="profile-address__input-outer input-outer">
                  <input class="profile-address__input input input-reset" type="text" placeholder="Квартира">
                </label>
              </div>
              <label class="profile-address__input-outer input-outer">
                <input class="profile-address__input input input-reset" type="text" placeholder="Почтовый индекс">
              </label>
            </form>
            <div class="ordering__delivery-method-wrapper">
              <h4 class="ordering__delivery-method-title">
                Способ доставки
              </h4>
              <div class="ordering__delivery-method-outer">
                <label class="ordering__delivery-method profile-cards__radio-outer active radio-outer">
                  <div class="flex">
                    <img loading="lazy" src="img/truck-ordering.svg" class="image radio-unchecked" width="24"
                      height="24" alt="img">
                    <img loading="lazy" src="img/truck-ordering-colored.svg" class="image radio-checked" width="24"
                      height="24" alt="img">
                    <div class="ordering__delivery-method-info">
                      <span class="thin">
                        Курьером
                      </span>
                      <div class="weight">
                        от 149₴
                      </div>
                    </div>
                  </div>
                  <input class="profile-cards__radio radio" type="radio" name="delivery-method" checked>
                  <span class="radio-style"></span>
                </label>
                <label class="ordering__delivery-method profile-cards__radio-outer radio-outer">
                  <div class="flex">
                    <img loading="lazy" src="img/shop-ordering.svg" class="image radio-unchecked active" width="24"
                      height="24" alt="img">
                    <img loading="lazy" src="img/shop-ordering-colored.svg" class="image radio-checked" width="24"
                      height="24" alt="img">
                    <div class="ordering__delivery-method-info">
                      <span class="thin">
                        Курьером
                      </span>
                      <div class="weight">
                        от 149₴
                      </div>
                    </div>
                  </div>
                  <input class="profile-cards__radio radio" type="radio" name="delivery-method">
                  <span class="radio-style"></span>
                </label>
                <label class="ordering__delivery-method profile-cards__radio-outer radio-outer">
                  <div class="flex">
                    <img loading="lazy" src="img/cube-ordering.svg" class="image radio-unchecked active" width="24"
                      height="24" alt="img">
                    <img loading="lazy" src="img/cube-ordering-colored.svg" class="image radio-checked" width="24"
                      height="24" alt="img">
                    <div class="ordering__delivery-method-info">
                      <span class="thin">
                        Курьером
                      </span>
                      <div class="weight">
                        от 149₴
                      </div>
                    </div>
                  </div>
                  <input class="profile-cards__radio radio" type="radio" name="delivery-method">
                  <span class="radio-style"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="ordering-step">
          <div class="ordering-step__header">
            <div class="ordering-step__header-info">
              <div class="ordering-step__header-num">
                03
              </div>
              <h3 class="ordering-step__header-title">
                Спопоб оплаты
              </h3>
            </div>
          </div>
          <div class="ordering-step__content">
            <form class="profile-cards__form form" action="#">
              <label class="profile-cards__radio-outer radio-outer">
                <div class="flex">
                  <img loading="lazy" src="img/cards.svg" class="image" width="24" height="24" alt="img">
                  Крединтная или дебетовая карта
                </div>
                <input class="profile-cards__radio radio" type="radio" name="ordering-method" checked>
                <span class="radio-style"></span>
              </label>
              <label class="profile-cards__radio-outer radio-outer">
                <div class="flex">
                  <img loading="lazy" src="img/PayPal.svg" class="image" width="24" height="24" alt="img">
                  Paypal
                </div>
                <input class="profile-cards__radio radio" type="radio" name="ordering-method">
                <span class="radio-style"></span>
              </label>
              <label class="profile-cards__input-outer input-outer">
                <input class="profile-cards__input input input-reset" type="text" placeholder="Номер карты">
              </label>
              <div class="profile-cards__small-input-wrapper small-input-wrapper">
                <label class="profile-cards__input-outer input-outer">
                  <input class="profile-cards__input input input-reset" type="text" placeholder="Срок">
                </label>
                <label class="profile-cards__input-outer input-outer">
                  <input class="profile-cards__input input input-reset" type="text" placeholder="CVV">
                </label>
              </div>
            </form>
          </div>
          <div class="ordering__sll">
            <div class="ordering__sll-img-outer">
              <img loading="lazy" src="img/lock.svg" class="image" width="16" height="16" alt="img">
            </div>
            Ваши транзакции будут надежно защищены SLL Security
          </div>
        </div>
      </div>

      <div class="ordering-sum__outer">
        <h4 class="ordering-sum__title">
          Ваш заказ
        </h4>
        <div class="ordering-sum__inner">
          <div class="ordering-sum__count-outer">
            <div class="ordering-sum__count">
              <span class="text">
                Кол. товаров:
              </span>
              <span class="num">
                3
              </span>
            </div>
            <div class="ordering-sum__count">
              <span class="text">
                Вес:
              </span>
              <span class="num">
                5 кг. 540 г.
              </span>
            </div>
            <div class="ordering-sum__count">
              <span class="text">
                Доставка:
              </span>
              <span class="num">
                50 ₴
              </span>
            </div>
          </div>
          <form class="ordering-sum__promocode-form promocode-form" action="#">
            <input class="ordering-sum__promocode-input promocode-input input-reset" type="text" placeholder="Промокод">
            <button class="ordering-sum__promocode-btn promocode-btn btn-reset col-btn disable">Ок</button>
          </form>
          <div class="ordering-sum">
            <div class="title">
              Общая сумма заказа:
            </div>
            <div class="sum">
              124 599 ₴
            </div>
          </div>
          <button class="ordering-sum__btn btn-reset col-btn">
            Оформить заказ
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
