<section class="cat-head track-head ordering-head">
  <div class="container">
    <div class="cat-head__inner">
      <div class="cat-head__info">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="index.html">
                Главная
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="cart.html">
                Корзина
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">
                Оформление заказа
              </a>
            </li>
          </ul>
        </div>
        <h1 class="cat-head__title hOne">
          Оформление заказа
        </h1>
      </div>
      <div class="cat-head__img-outer">
        <picture>
          <source srcset="img/ordering-head.avif" type="image/avif">
          <source srcset="img/ordering-head.webp" type="image/webp">
          <img loading="lazy" src="img/ordering-head.png" class="image" width="654" height="300" alt="img">
        </picture>
      </div>
    </div>
  </div>
</section>
