<section class="ordering-s">
  <div class="container">
    <div class="ordering-s__inner">
      <div class="ordering-s__img-outer">
          <img loading="lazy" src="img/verify.svg" class="image" width="72" height="72" alt="img">
      </div>
      <h3 class="ordering-s__title hThr">
        Заказ успешно оформлен!
      </h3>
      <p class="ordering-s__subtitle">
        Ваш заказ №13134134
      </p>
      <a class="ordering-s__link col-btn" href="#">
        Информация о заказе
      </a>
    </div>
  </div>
</section>
