<section class="popular">
  <div class="container">
    <div class="popular__inner">
      <div class="popular__header">
        <h2 class="popular__title hTwo">
          Популярные товары
        </h2>
        <a class="popular__more textMore" href="#">
          Показать еще
          <svg>
            <use xlink:href="img/sprite.svg#link-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="popular__slider swiper">
        <div class="popular__slider-wrapper swiper-wrapper">
          <div class="popular__slider-slide swiper-slide">
            <div class="popular__slider-content">
              <a class="popular__card card" href="product.html">
                <div class="popular__card-sale card-sale">-10%</div>
                <div class="popular__card-favorite card-favorite btn-reset">
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </div>
                <div class="popular__card-img-outer card-img-outer">
                    <img loading="lazy" src="img/popular-1.png" class="image" width="202" height="166" alt="img">
                </div>
                <div class="popular__card-info card-info">
                  <div class="popular__review-outer card-review-outer">
                    <div class="popular__review-star-list card-review-star-list">
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="popular__review card-review">
                      12 отзывов
                    </div>
                  </div>
                  <div class="popular__card-name card-name">
                    MacBook Air 13, 256gb
                    MQ342424
                  </div>
                  <div class="popular__card-price card-price">
                    34 599 ₴ <span class="old">40 000 ₴</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="popular__slider-slide swiper-slide">
            <div class="popular__slider-content">
              <a class="popular__card card" href="#">
                <div class="popular__card-sale card-sale">-10%</div>
                <div class="popular__card-favorite card-favorite btn-reset">
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </div>
                <div class="popular__card-img-outer card-img-outer">
                    <img loading="lazy" src="img/popular-2.png" class="image" width="120" height="140" alt="img">
                </div>
                <div class="popular__card-info card-info">
                  <div class="popular__review-outer card-review-outer">
                    <div class="popular__review-star-list card-review-star-list">
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="popular__review card-review">
                      12 отзывов
                    </div>
                  </div>
                  <div class="popular__card-name card-name">
                    MacBook Air 13, 256gb
                    MQ342424
                  </div>
                  <div class="popular__card-price card-price">
                    34 599 ₴ <span class="old">40 000 ₴</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="popular__slider-slide swiper-slide">
            <div class="popular__slider-content">
              <a class="popular__card card" href="#">
                <div class="popular__card-sale card-sale">-10%</div>
                <div class="popular__card-favorite card-favorite btn-reset">
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </div>
                <div class="popular__card-img-outer card-img-outer">
                    <img loading="lazy" src="img/popular-3.png" class="image" width="138" height="152" alt="img">
                </div>
                <div class="popular__card-info card-info">
                  <div class="popular__review-outer card-review-outer">
                    <div class="popular__review-star-list card-review-star-list">
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="popular__review card-review">
                      12 отзывов
                    </div>
                  </div>
                  <div class="popular__card-name card-name">
                    MacBook Air 13, 256gb
                    MQ342424
                  </div>
                  <div class="popular__card-price card-price">
                    34 599 ₴ <span class="old">40 000 ₴</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="popular__slider-slide swiper-slide">
            <div class="popular__slider-content">
              <a class="popular__card card" href="#">
                <div class="popular__card-sale card-sale">-10%</div>
                <div class="popular__card-favorite card-favorite btn-reset">
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </div>
                <div class="popular__card-img-outer card-img-outer">
                    <img loading="lazy" src="img/popular-4.png" class="image" width="110" height="158" alt="img">
                </div>
                <div class="popular__card-info card-info">
                  <div class="popular__review-outer card-review-outer">
                    <div class="popular__review-star-list card-review-star-list">
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star colored card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="popular__review-star card-review-star">
                        <svg>
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="popular__review card-review">
                      12 отзывов
                    </div>
                  </div>
                  <div class="popular__card-name card-name">
                    MacBook Air 13, 256gb
                    MQ342424
                  </div>
                  <div class="popular__card-price card-price">
                    34 599 ₴ <span class="old">40 000 ₴</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="popular__card-outer card-outer card-four">
      </div> -->
    </div>
  </div>
</section>
