<section class="product-top">
  <div class="container">
    <div class="product-top__inner">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list list-reset">
          <li class="breadcrumbs__list-item">
            <a class="breadcrumbs__list-link" href="index.html">
              Главная
            </a>
          </li>
          <li class="breadcrumbs__list-item">
            <a class="breadcrumbs__list-link" href="#">
              Продавец
            </a>
          </li>
          <li class="breadcrumbs__list-item">
            <a class="breadcrumbs__list-link" href="#">
              Moulin
            </a>
          </li>
        </ul>
      </div>
      <div class="product-top__slider-info">
        <div class="product-top__slider-outer">
          <div class="product-top__slider-sale">-10%</div>
          <div class="product-top__big-slider swiper">
            <div class="product-top__big-slider-wrapper swiper-wrapper">
              <div class="product-top__big-slider-slide swiper-slide">
                <div class="product-top__big-slider-content">
                  <div class="product-top__big-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="458" height="460"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__big-slider-slide swiper-slide">
                <div class="product-top__big-slider-content">
                  <div class="product-top__big-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="458" height="460"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__big-slider-slide swiper-slide">
                <div class="product-top__big-slider-content">
                  <div class="product-top__big-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="458" height="460"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__big-slider-slide swiper-slide">
                <div class="product-top__big-slider-content">
                  <div class="product-top__big-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="458" height="460"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__big-slider-slide swiper-slide">
                <div class="product-top__big-slider-content">
                  <div class="product-top__big-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="458" height="460"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__big-slider-slide swiper-slide">
                <div class="product-top__big-slider-content">
                  <div class="product-top__big-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="458" height="460"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-top__small-slider swiper">
            <div class="product-top__small-slider-wrapper swiper-wrapper">
              <div class="product-top__small-slider-slide swiper-slide">
                <div class="product-top__small-slider-content">
                  <div class="product-top__small-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="83" height="108"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__small-slider-slide swiper-slide">
                <div class="product-top__small-slider-content">
                  <div class="product-top__small-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="83" height="108"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__small-slider-slide swiper-slide">
                <div class="product-top__small-slider-content">
                  <div class="product-top__small-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="83" height="108"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__small-slider-slide swiper-slide">
                <div class="product-top__small-slider-content">
                  <div class="product-top__small-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="83" height="108"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__small-slider-slide swiper-slide">
                <div class="product-top__small-slider-content">
                  <div class="product-top__small-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="83" height="108"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="product-top__small-slider-slide swiper-slide">
                <div class="product-top__small-slider-content">
                  <div class="product-top__small-slider-img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="83" height="108"
                        alt="img">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-top__small-slider-navigation">
              <button class="product-top__small-slider-next swiper-button-next btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#product-small-slider-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="product-top__info">
          <div class="product-top__info-header">
            <h1 class="product-top__info-title hTwo">
              Футболка приветственная название название. Максимум три строки в названии Футболка приветственная название название. Максимум три строки в названии
            </h1>
            <div class="product-top__info-review-code">
              <div class="card-review-outer">
                <div class="card-review-star-list">
                  <div class="colored card-review-star">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="colored card-review-star">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="colored card-review-star">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="colored card-review-star">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="card-review-star">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
                <div class="card-review">
                  <svg class="icon-20">
                    <use xlink:href="img/sprite.svg#review"></use>
                  </svg>
                  12 отзывов
                </div>
              </div>
              <div class="product-top__info-code">
                Code: <span>32424</span>
              </div>
            </div>
          </div>
          <div class="product-top__info-char-outer">
            <div class="product-top__info-char">
              <div class="product-top__info-text">
                Размер производителя:
                <span class="weight">XS</span>
              </div>
              <div class="product-top__info-btn-outer">
                <button class="product-top__info-btn active size-btn btn-reset">
                  XS
                </button>
                <button class="product-top__info-btn size-btn btn-reset">
                  S
                </button>
                <button class="product-top__info-btn size-btn btn-reset">
                  M
                </button>
                <button class="product-top__info-btn size-btn btn-reset">
                  L
                </button>
                <button class="product-top__info-btn size-btn btn-reset">
                  Xl
                </button>
                <button class="product-top__info-btn size-btn btn-reset">
                  Xxl
                </button>
                <button class="product-top__info-btn size-btn btn-reset">
                  Xxxl
                </button>
              </div>
            </div>
            <div class="product-top__info-char">
              <div class="product-top__info-text">
                Варинаты цветов:
                <span class="weight">Черный</span>
              </div>
              <div class="product-top__info-btn-outer">
                <button class="product-top__info-btn img-btn btn-reset">
                  <div class="img-outer">
                    <picture>
                      <source srcset="img/product-slider-5.avif" type="image/avif">
                      <source srcset="img/product-slider-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-slider-5.jpg" class="image" width="30" height="30" alt="img">
                    </picture>
                  </div>
                  <span class="name">Белый</span>
                </button>
                <button class="product-top__info-btn active color-btn btn-reset">
                  <span class="color black"></span>
                  <span class="name">Черный</span>
                </button>
                <button class="product-top__info-btn color-btn btn-reset">
                  <span class="color beige"></span>
                  <span class="name">Бежевый</span>
                </button>
              </div>
            </div>
          </div>
          <div class="product-top__info-footer">
            <div class="product-top__info-price">1 599 ₴ <span class="old">34 599 ₴</span></div>
            <div class="cart-order__count-outer">
              <button class="cart-order__count-less cart-order__count-btn btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#minus"></use>
                </svg>
              </button>
              <div class="cart-order__count"><span class="cart-order__count-span">2</span> шт.</div>
              <button class="cart-order__count-more cart-order__count-btn btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
            <div class="product-top__info-actions">
              <button class="product-top__info-cart col-btn btn-reset">
                В корзину
              </button>
              <button class="product-top__info-favorite icon-btn btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
              <button class="product-top__info-share icon-btn btn-reset">
                <svg class="icon-20">
                  <use xlink:href="img/sprite.svg#share"></use>
                </svg>
              </button>
            </div>
          </div>
          <a class="product-top__info-seller" href="#">
            <div class="product-top__info-seller-text">
              <span class="weight">Продавец: </span>
              Moulin “Магазин Одежды”
            </div>
            <div class="product-top__info-seller-actions">
              <div class="card-review-outer">
                <div class="card-review-star-list">
                  <div class="colored card-review-star">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
                <div class="card-review">
                  4.1
                </div>
              </div>
              <div class="product-top__info-seller-img-outer">
                <picture>
                  <source srcset="img/product-seller.avif" type="image/avif">
                  <source srcset="img/product-seller.webp" type="image/webp">
                  <img loading="lazy" src="img/product-seller.png" class="mobile image" width="42" height="42" alt="img">
                </picture>
                <picture>
                  <source srcset="img/product-seller-desc.avif" type="image/avif">
                  <source srcset="img/product-seller-desc.webp" type="image/webp">
                  <img loading="lazy" src="img/product-seller-desc.png" class="desc image" width="42" height="42" alt="img">
                </picture>
              </div>
              <svg class="product-top__info-seller-icon icon-20">
                <use xlink:href="img/sprite.svg#product-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
