<div class="seller-catalog">
  <h2 class="seller-catalog__title hTwo">
    Красота и Здоровье
  </h2>
  <div class="seller-catalog__slider swiper">
    <div class="seller-catalog__slider-wrapper swiper-wrapper">
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Женщинам
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-1.avif" type="image/avif">
              <source srcset="img/catalog-card-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-1.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Мужчинам
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-2.avif" type="image/avif">
              <source srcset="img/catalog-card-2.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-2.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Детям
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-3.avif" type="image/avif">
              <source srcset="img/catalog-card-3.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-3.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Красота и Здоровье
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-4.avif" type="image/avif">
              <source srcset="img/catalog-card-4.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-4.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Товары для дома
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-5.avif" type="image/avif">
              <source srcset="img/catalog-card-5.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-5.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Детские товары
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-6.avif" type="image/avif">
              <source srcset="img/catalog-card-6.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-6.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Бытовая техника
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-7.avif" type="image/avif">
              <source srcset="img/catalog-card-7.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-7.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Хобби и творчество
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-8.avif" type="image/avif">
              <source srcset="img/catalog-card-8.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-8.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Украшения и аксессуары
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-9.avif" type="image/avif">
              <source srcset="img/catalog-card-9.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-9.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Продукты питания
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-10.avif" type="image/avif">
              <source srcset="img/catalog-card-10.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-10.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Спортивные товары
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-11.avif" type="image/avif">
              <source srcset="img/catalog-card-11.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-11.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Канцелярские товары
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-12.avif" type="image/avif">
              <source srcset="img/catalog-card-12.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-12.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Бытовая химия
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-13.avif" type="image/avif">
              <source srcset="img/catalog-card-13.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-13.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
      <div class="seller-catalog__slider-slide swiper-slide">
        <span class="border"></span>
        <a class="seller-catalog__card" href="#">
          <span class="before-ellipce"></span>
          <span class="after-ellipce"></span>
          <div class="seller-catalog__card-name">
            Зоотовары
          </div>
          <div class="seller-catalog__card-img-outer">
            <picture>
              <source srcset="img/catalog-card-14.avif" type="image/avif">
              <source srcset="img/catalog-card-14.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-card-14.png" class="image" width="100" height="100" alt="img">
            </picture>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
