<section class="cat-head seller-head">
  <div class="container">
    <div class="cat-head__inner">
      <div class="cat-head__info">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="index.html">
                Главная
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">
                Продавец
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">
                Moulin
              </a>
            </li>
          </ul>
        </div>
        <h1 class="cat-head__title hOne">Магазин MOULIN</h1>
        <p class="cat-head__subtitle">Разные товары для дома</p>
        <div class="cat-head__reviews-favorite">
          <div class="cat-head__reviews">
            <div class="cat-head__star-list">
              <div class="cat-head__star colored card-review-star">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="cat-head__star colored card-review-star">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="cat-head__star colored card-review-star">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="cat-head__star colored card-review-star">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="cat-head__star card-review-star">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="cat-head__reviews-count">
              12 отзывов
            </div>
          </div>
          <button class="cat-head__favorite btn-reset">
            <svg class="icon-20">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
