<div class="seller-tab__list-outer">
  <div class="container">
    <ul class="seller-tab__list list-reset">
      <li class="seller-tab__list-item">
        <a class="seller-tab__list-link" href="seller-main.html">
          Главная
        </a>
      </li>
      <li class="seller-tab__list-item">
        <a class="seller-tab__list-link" href="seller-product.html" id="sellerProduct">
          Товар
        </a>
      </li>
      <li class="seller-tab__list-item">
        <a class="seller-tab__list-link" href="seller-profile.html">
          Профиль
        </a>
      </li>
    </ul>
  </div>
</div>

