<section class="cat-head track-head">
  <div class="container">
    <div class="cat-head__inner">
      <div class="cat-head__info">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="index.html">
                Главная
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="cart.html">
                Корзина
              </a>
            </li>
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="#">
                Информация о заказе
              </a>
            </li>
          </ul>
        </div>
        <h1 class="cat-head__title hOne">
          Информация о заказе
        </h1>
      </div>
      <div class="cat-head__img-outer" style="
      transform: translateX(100px);
  ">
          <img loading="lazy" src="img/track-head.png" class="image" width="736" height="300" alt="img">
      </div>
    </div>
  </div>
</section>
