<section class="track">
  <h1 class="visually-hidden">Скрытый заголовок</h1>
  <div class="container">
    <div class="track__inner">
      <div class="track__header">
        <div class="track__header-info">
          <div class="track__header-date">
            Предворительная дата доставки:
            <span class="date">
              27 мая
            </span>
          </div>
          <div class="track__header-status">
            Оплачено
          </div>
        </div>
        <div class="track__header-road">
          <span class="ellipce orange"></span>
          <span class="line orange"></span>
          <span class="ellipce truck"></span>
          <span class="line"></span>
          <span class="ellipce"></span>
          <span class="line"></span>
          <span class="ellipce"></span>
          <span class="line"></span>
          <span class="ellipce"></span>
        </div>
      </div>
      <div class="track__order-outer">
        <div class="track__order">
          <div class="track__order-img-info">
            <div class="track__order-img-outer">
              <picture>
                <source srcset="img/popular-1.avif" type="image/avif">
                <source srcset="img/popular-1.webp" type="image/webp">
                <img loading="lazy" src="img/popular-1.jpg" class="image" width="93" height="92" alt="img">
              </picture>
            </div>
            <div class="track__order-info">
              <div class="track__order-text">
                <span class="weight">
                  Номер заказа:
                </span>
                <span class="thin">
                  673290789
                </span>
              </div>
              <div class="track__order-text">
                <span class="weight">
                  Дата заказа:
                </span>
                <span class="thin">
                  3 мая
                </span>
              </div>
              <div class="track__order-text">
                <span class="weight">
                  Статус:
                </span>
                <span class="thin">
                  Ожидание доставки
                </span>
              </div>
            </div>
          </div>
          <div class="track__order-price">38 599 ₴</div>
        </div>
        <div class="track__order">
          <div class="track__order-img-info">
            <div class="track__order-img-outer">
              <picture>
                <source srcset="img/popular-1.avif" type="image/avif">
                <source srcset="img/popular-1.webp" type="image/webp">
                <img loading="lazy" src="img/popular-1.jpg" class="image" width="93" height="92" alt="img">
              </picture>
            </div>
            <div class="track__order-info">
              <div class="track__order-text">
                <span class="weight">
                  Номер заказа:
                </span>
                <span class="thin">
                  673290789
                </span>
              </div>
              <div class="track__order-text">
                <span class="weight">
                  Дата заказа:
                </span>
                <span class="thin">
                  3 мая
                </span>
              </div>
              <div class="track__order-text">
                <span class="weight">
                  Статус:
                </span>
                <span class="thin">
                  Ожидание доставки
                </span>
              </div>
            </div>
          </div>
          <div class="track__order-price">38 599 ₴</div>
        </div>
        <div class="track__order">
          <div class="track__order-img-info">
            <div class="track__order-img-outer">
              <picture>
                <source srcset="img/popular-1.avif" type="image/avif">
                <source srcset="img/popular-1.webp" type="image/webp">
                <img loading="lazy" src="img/popular-1.jpg" class="image" width="93" height="92" alt="img">
              </picture>
            </div>
            <div class="track__order-info">
              <div class="track__order-text">
                <span class="weight">
                  Номер заказа:
                </span>
                <span class="thin">
                  673290789
                </span>
              </div>
              <div class="track__order-text">
                <span class="weight">
                  Дата заказа:
                </span>
                <span class="thin">
                  3 мая
                </span>
              </div>
              <div class="track__order-text">
                <span class="weight">
                  Статус:
                </span>
                <span class="thin">
                  Ожидание доставки
                </span>
              </div>
            </div>
          </div>
          <div class="track__order-price">38 599 ₴</div>
        </div>
      </div>
      <a class="track__link uncol-btn" href="#">
        Подробнее о заказе
      </a>
    </div>
  </div>
</section>
